.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  background-color: #f7fafc;
}

/* Novo estilo para centralizar o login */
.mainCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #edf2f7;
}